.datepicker-window .datepicker-panel {
    background-color: #FEFEFE;
    border: 1px solid grey;
    border-radius: 3px;   
    padding: 3px;
}

.datepicker-window {
    background-color: #EFEFEF;
    border: 1px solid grey;
    border-radius: 3px;
    display: none;
    padding: 5px;
    position: absolute;
}

.datepicker-window .datepicker-clear {
    clear: both;
}

.datepicker-window .datepicker-calendar {
    display: inline-block;
}

.datepicker-window .datepicker-month-button {
    border: 1px solid transparent;
    color: black;
    display: inline-block;
    font-size: 1.2em;
    padding: 0 0.3em 0 0.3em;
    text-decoration: none;
}

.datepicker-window .datepicker-month-button:hover {
    background-color: #EFEFEF;
    border: 1px solid grey;
    border-radius: 3px;
}

.datepicker-window .datepicker-prev-month-button {
    float: left;
}

.datepicker-window .datepicker-next-month-button {
    float: right;
}

.datepicker-window .datepicker-month-caption {
    font-size: 1.2em;
    text-align: center;
}


.datepicker-window .datepicker-calendar-start {
    margin-right: 2px;
}

.datepicker-window .datepicker-calendar-finish {
    margin-left: 2px;
}

.datepicker-window .datepicker-days-table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.datepicker-window .datepicker-days-table td, .datepicker-window .datepicker-days-table th {
    border: 0;
    padding: 0;
    text-align: center;
}

.datepicker-window .datepicker-days-table td a {
    border: 1px solid transparent;
    color: black;
    display: block;
    padding: 2px 6px 2px 6px;
    text-decoration: none;
}

.datepicker-window .datepicker-days-table td .today {
    background-color: #F4F47F;
    color: black;
}

.datepicker-window .datepicker-days-table td .marked {
    background-color: #F47F7F;
    color: black;
}

.datepicker-window .datepicker-days-table td .range-1 {
    background-color: #FF3333;
    color: black;
}

.datepicker-window .datepicker-days-table td .range-2 {
    background-color: #33FF33;
    color: black;
}

.datepicker-window .datepicker-days-table td .range-3 {
    background-color: #3333FF;
    color: black;
}

.datepicker-window .datepicker-days-table td .selected {
    background-color: #5F5FF0;
    color: white;
}

.datepicker-window .datepicker-days-table td a:hover {
    border: 1px solid grey;
}

.datepicker-window .datepicker-buttons {
    margin-top: 6px;
}

.datepicker-window .datepicker-btn-clear {
    margin-left: 10px;
}

.datepicker-window .datepicker-options, .datepicker-window .datepicker-warnings {
    margin-top: 5px;
}

.datepicker-window .datepicker-warning {
    display: none;
    font-size: 1.2em;
    padding: 3px;
}

.datepicker-window .datepicker-success {
    color: darkgreen;
}

.datepicker-window .datepicker-cleared {
    color: darkred;
}

.datepicker-window .datepicker-intersect {
    color: darkorange;
}
